@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html {
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-style: normal;
  scroll-behavior: smooth;
}

body {
  position: relative;
  margin: 0;
  overflow-y: scroll;
  color: $black;
  background-color: $white;
}

a,
button,
input,
textarea {
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

input[type='text'],
input[type='email'],
input[type='tel'],
input[type='password'] {
  display: inline-block;
  min-height: 60px;
  width: 100%;
  padding: 18px 26px;
  box-sizing: border-box;
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: -0.04em;
  color: #242424;
  border: 1px solid #f5f5f5;
  border-radius: 4px;
  outline: none;
  background-color: #f5f5f5;
  transition-property: border;
  transition-timing-function: ease-out;
  transition-duration: 0.2s;

  @include mobile {
    padding: 22px 19px;
    font-size: 16px;
  }

  &:focus {
    border: 1px solid rgba(0, 0, 0, 0.1);
  }

  &:user-invalid {
    color: #ff3c3c;
    border: 1px solid rgba(255, 60, 60, 0.2);
  }
}

.h1,
.h2,
.h3 {
  margin: 0;
  text-transform: uppercase;
  text-align: center;
  color: #242424;

  & em {
    font-style: italic;
    font-weight: 300;
  }

  & strong {
    color: #3758a1;
  }
}

.h1 {
  font-weight: 900;
  font-size: 130px;
  line-height: 108%;
  letter-spacing: -0.04em;

  @include desktop {
    font-size: 80px;
  }

  @include laptop {
    font-size: 64px;
  }

  @include tablet {
    font-size: 48px;
  }

  @include mobile {
    font-size: 30px;
    line-height: 120%;
  }
}

.h2 {
  font-weight: 700;
  font-size: 80px;
  line-height: 112%;
  letter-spacing: -0.04em;

  @include desktop {
    font-size: 64px;
  }

  @include laptop {
    font-size: 48px;
  }

  @include tablet {
    font-size: 32px;
  }

  @include mobile {
    font-size: 24px;
    line-height: 125%;
  }
}

.h3 {
  font-weight: 700;
  font-size: 60px;
  line-height: 116%;
  letter-spacing: -0.04em;
  text-align: left;

  @include desktop {
    font-size: 54px;
  }

  @include laptop {
    font-size: 44px;
  }

  @include tablet {
    font-size: 32px;
  }

  @include mobile {
    font-size: 24px;
    line-height: 125%;
  }
}

model-viewer {
  width: 100%;
  height: auto;
  aspect-ratio: 707 / 632;
}
