.create-account {
  &__title {
    margin: 58px 0 34px;
    text-align: center;

    @include laptop {
      margin: 32px 0;
    }

    @include mobile {
      margin: 24px 0;
      text-align: left;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 14px;
    max-width: 500px;
    margin: 0 auto;

    @include mobile {
      max-width: none;
    }

    &-submit {
      &-button {
        min-height: 60px;
        width: 100%;
      }
    }
  }
}
