.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #f8f8f8;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
    padding: 33px 0;

    @include desktop {
      gap: 24px;
      padding: 24px 0;
    }

    @include laptop {
      padding: 25px 0 22px;
    }
  }

  &__logo {
    position: relative;
    z-index: 1;
    flex: 0 0 auto;

    &-link {
      display: flex;
      align-items: flex-start;
      gap: 20px;

      &-image {
        display: block;
        max-width: 100%;
        width: 100px;
        height: auto;

        @include laptop {
          width: 90px;
        }

        @include mobile {
          width: 80px;
        }
      }

      &-text {
        max-width: 122px;
        font-weight: 600;
        font-size: 14px;
        text-transform: uppercase;
        color: rgba(36, 36, 36, 0.6);

        @include desktop {
          display: none;
        }

        & strong {
          color: #242424;
        }
      }
    }
  }

  &__menu {
    position: relative;
    z-index: 1;
    flex: 0 1 1048px;

    @include laptop {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: -1;
      overflow: hidden;
      background-color: rgba($color: #242424, $alpha: 0);
      transition: background-color ease-out 0.4s;
      pointer-events: none;
    }

    &.active {
      @include laptop {
        background-color: rgba($color: #242424, $alpha: 0.6);
        pointer-events: all;
      }
    }

    &-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 32px;

      @include laptop {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        justify-content: flex-start;
        flex-direction: column;
        max-width: 360px;
        width: 100%;
        padding: 134px 15px 34px;
        box-sizing: border-box;
        background-color: #f8f8f8;
        transition: transform ease-out 0.4s;
        transform: translateX(100vw);
      }

      @include mobile {
        max-width: none;
      }
    }

    &.active &-wrapper {
      @include laptop {
        transform: translateX(0);
      }
    }
  }

  &__nav {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    flex: 0 1 604px;
    gap: 10px 32px;

    @include laptop {
      align-items: center;
      flex-direction: column;
      flex: 0 1 auto;
      gap: 14px;
    }

    &-link {
      flex: 0 0 auto;
      font-weight: 700;
      font-size: 14px;
      text-transform: uppercase;
      color: #242424;
      transition: color ease-out 0.2s;

      &:hover {
        color: #3758a1;
      }
    }
  }

  &__callback {
    display: flex;
    align-items: center;
    gap: 6px 24px;
    flex: 0 0 auto;

    @include desktop {
      flex-direction: column;
    }

    &-phone {
      display: flex;
      align-items: center;
      gap: 8px;
      font-weight: 600;
      font-size: 18px;
      line-height: 133%;
      letter-spacing: 0.02em;
      color: #242424;
      transition: color ease-out 0.2s;

      &:hover {
        color: #3758a1;
      }

      &::before {
        content: '';
        display: block;
        flex: 0 0 auto;
        width: 18px;
        aspect-ratio: 1 / 1;
        background: url(../assets/mdi_phone.svg) center / cover no-repeat;
      }
    }
  }

  &__controls {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    flex: 0 0 auto;
    gap: 16px;

    @include laptop {
      gap: 14px;
    }

    &-account,
    &-basket {
      &-button {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 0;
        width: 50px;
        aspect-ratio: 1 / 1;
        box-sizing: border-box;
        border: 1px solid rgba($color: #3758a1, $alpha: 0.1);
        border-radius: 50px;
        background-color: #eef2fb;
        cursor: pointer;

        @include laptop {
          width: 46px;
        }

        &::before {
          content: '';
          display: block;
          width: 18px;
          aspect-ratio: 1 / 1;
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
        }
      }
    }

    &-account {
      display: flex;
      align-items: center;
      gap: 10px;

      &-button {
        &::before {
          background-image: url(../assets/basil_user-solid.svg);
        }
      }

      &.active &-button {
        background-color: #3758a1;

        &::before {
          filter: brightness(1000%);
        }
      }

      &-info {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        gap: 10px;
        display: none;

        &-name {
          font-weight: 600;
          font-size: 13px;
          line-height: 100%;
          color: rgba(36, 36, 36, 0.6);
        }

        &-exit {
          display: inline-block;
          padding: 0;
          font-weight: 700;
          font-size: 14px;
          line-height: 100%;
          color: #3758a1;
          border: none;
          background-color: rgba($color: #ffffff, $alpha: 0);
          transition: color ease-out 0.2s;
          cursor: pointer;

          &:hover {
            color: #242424;
          }
        }
      }

      &.active &-info {
        display: flex;
      }
    }

    &-basket {
      position: relative;

      &-button {
        &::before {
          background-image: url(../assets/entypo_shopping-cart.svg);
        }

        &-counter {
          position: absolute;
          top: -2px;
          left: 34px;
          display: flex;
          align-items: center;
          justify-content: center;
          min-width: 24px;
          height: 24px;
          font-weight: 600;
          font-size: 14px;
          line-height: 100%;
          text-transform: uppercase;
          color: #fff;
          border-radius: 26px;
          background-color: #ff3c3c;
          display: none;
        }
      }

      &.active &-button {
        background-color: #3758a1;

        &::before {
          filter: brightness(1000%);
        }

        &-counter {
          display: flex;
        }
      }
    }

    &-burger {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0;
      padding: 0;
      width: 50px;
      aspect-ratio: 1 / 1;
      box-sizing: border-box;
      border: none;
      border-radius: 50px;
      background-color: #3758a1;
      cursor: pointer;
      display: none;

      @include laptop {
        display: flex;
        width: 46px;
      }

      &::before {
        content: '';
        display: block;
        width: 18px;
        aspect-ratio: 1 / 1;
        background-image: url(../assets/material-symbols_menu-rounded.svg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
      }

      &.active::before {
        background-image: url(../assets/ic_round-close.svg);
      }
    }
  }

  &__contacts {
    display: none;

    @include laptop {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 14px;
      max-width: 240px;
    }

    &-location,
    &-email {
      display: flex;
      align-items: center;
      gap: 10px;
      font-weight: 500;
      font-size: 16px;
      line-height: 150%;
      color: rgba(36, 36, 36, 0.8);

      @include laptop {
        text-align: center;
      }

      &::before {
        content: '';
        display: block;
        flex: 0 0 auto;
        width: 18px;
        aspect-ratio: 1 / 1;

        @include laptop {
          display: none;
        }
      }
    }
  }
}
