.main {
  min-height: calc(100dvh - 314px);
  padding: 140px 0;
  box-sizing: border-box;

  @include laptop {
    min-height: calc(100dvh - 625px);
    padding: 120px 0 80px;
  }

  @include mobile {
    padding: 116px 0 50px;
  }
}
